<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    

</head>
<body>
    
    <form action="">
        <p>URL<input type="text"></p>
        <p><input type="submit" value="投稿"></p>
    </form>
    
</body>
</html>