<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/youtube.js" type="text/javascript"></script>   
    <style type="text/css">

body{background-color: black;
  color: white;

}
    </style>
  </head>
  <body>
    <center>
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player"></div>
    </center>
  </body>
</html>
