html {

  background: url(/images/web_bg.png) no-repeat center center fixed;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

}

div.border {
    opacity:0.75;
    
}
